* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-bar {
    background-color: #232935;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.grp-num {
    color: white;
    font-size: 30px;
}

.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-bar ul li {
    position: relative;
}

.menu-bar ul li a {
    color: white;
    display: block;
    padding: 20px 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.menu-bar ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the parent item */
    left: 0;
    width: 200px; /* Adjust the width as needed */
    background-color: #232935;
    z-index: 999;
}

.menu-bar ul li:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

.dropdown li {
    display: block;
}

.dropdown li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: left;
}

.dropdown li a:hover {
    background-color: #333;
}

.my-uni{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
}

.wrapper{
    width: 80%;
    margin: auto;
    line-height: 2;
}

.abt{  
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.abt{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
